@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Neue";
  src: url("/fonts/PPNeueMontreal-thin.otf") format("opentype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  src: url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  src: url("/fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

body {
  font-family: "Neue", sans-serif;
}
