@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 640px) {
  :root {
    --header-height: 55px;
    --hero-height: calc(100vh - var(--header-height));
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    --header-height: 55px;
    --hero-height: calc(100vh - var(--header-height));
  }
}

@media (min-width: 1025px) {
  :root {
    --header-height: 55px;
    --hero-height: calc(100vh - var(--header-height));
  }
}

/* styles/globals.css */

:root {
  /* light */
  --background-light: #ffffff;
  --text-light-color-primary: #171717;
  --text-color-muted: #525252;
  --border-light-color-primary: #171717;
  --border-dark-color-secondary: #525252;
  /* dark */

  --background-dark: #18191a;
  --text-dark-color-primary: #f5f5f5;
  --text-color-muted: #a3a3a3;
  --border-dark-color-primary: #f5f5f5;
  --border-dark-color-secondary: #a3a3a3;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light-color-primary);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark-color-primary);
}

body[theme="light"] {
  --background: #ffffff;
  --text-color-primary: #171717;
  --text-color-muted: #525252;
  --border-color-primary: #171717;
  --border-color-secondary: #525252;
}

body[theme="dark"] {
  --background: #18191a;
  --text-color-primary: #f5f5f5;
  --text-color-muted: #a3a3a3;
  --border-color-primary: #f5f5f5;
  --border-color-secondary: #a3a3a3;
}

html,
body {
  user-select: none;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--text-color-primary);
  transition: all 0.3s ease;
  font-family: "Neue", sans-serif;
}

/* fonts */

@font-face {
  font-family: "Montreal Mono";
  src: url("/fonts/montreal-mono/otf/PPNeueMontrealMono-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/mori/otf/PPMori-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/mori/otf/PPMori-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Bit";
  src: url("/fonts/neue-bit/otf/PPNeueBit-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Bit";
  src: url("/fonts/neue-bit/otf/PPMondwest-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
